<mat-card class="mat-elevation-z8">
	<mat-card-header>
		<mat-card-title>Users</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<table>
			<thead>
				<tr>
					<th>albumId</th>
					<th>id</th>
					<th>title</th>
					<th>url</th>
					<th>thumbnailUrl</th>
          <th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let element of users">
					<td>{{element.albumId}}</td>
					<td>{{element.id}}</td>
					<td>{{element.title}}</td>
					<td>{{element.url}}</td>
					<td>{{element.thumbnailUrl}}</td>
          <td><mat-icon aria-label="Delete">delete</mat-icon> | <mat-icon aria-label="Edit">edit</mat-icon></td>
				</tr>
			</tbody>
		</table>
	</mat-card-content>
</mat-card>
